<div class="dashboard-header">
  <h1>Dashboard</h1>
  <a href="/write">
    <button class="form-button">Create a post!</button>
  </a>
</div>
{{#if posts}}
{{#each posts}}      
    <!-- BLOG CARD -->
    <a href="/write/{{id}}" class="card-holder-link">
      <div class="card-holder">
        <div class="card-left">
          <div class="title-container">
            <h3 class="title">{{title}}</h3>
          </div>
          <div class="date-container">
            <div>{{date_created}}</div>
          </div>
        </div>
        <div class="card-right">
          <button class="dashboard-button">Edit Post</button>
          <button class="dashboard-button dashboard-delete-button">Delete Post</button>
        </div>
      </div>
    </a>
{{/each}}
{{/if}}

{{#unless posts}}
<p>You have not written any posts yet. Write your first one with "Create a post!".</p>
{{/unless}}
