<div class="dashboard-header">
  <h1>Dashboard</h1>
  <button class="form-button">Create a post!</button>
</div>
{{#if posts}}
{{#each posts}}      
    <!-- BLOG CARD -->
    <a href="/post/{{id}}">
      <div class="card-holder">
        <div class="card-left">
          <div class="title-container">
            <h3 class="title">{{title}}</h3>
          </div>
          <div class="date-container">
            <div>{{date_created}}</div>
          </div>
        </div>
        <div class="card-right">
          <button class="dashboard-button">View Post</button>
          <button class="dashboard-button">Edit Post</button>
        </div>
      </div>
    </a>
{{/each}}
{{/if}}

{{#unless posts}}
<p>You have not written any posts yet. Write your first one with "Create a post!".</p>
{{/unless}}

Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis vitae voluptatum delectus laudantium perspiciatis. Deleniti corrupti laboriosam itaque aliquam dicta molestias, voluptatibus, excepturi ratione quas cupiditate quos veniam! Odit, maxime?
