:root {
  --brand-navy: #2f3b69;
  --brand-beige: #e3dedd;
  --brand-teal: #3e829a;
  --brand-soft: #fafaff;
  --brand-gray: #5b4d4d;
  --brand-navy-shadow: #2f3b6982;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--brand-navy)
}
