header {
  height: 130px;
  background-color: var(--brand-soft);
  box-shadow: 0px 4px 4px var(--brand-navy-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contents {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.header-branding {
  display: flex;
  gap: 5px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  margin-right: 1.5%;
}

main {
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  width: 70%;
}

.card-holder {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0px 4px 4px var(--brand-navy-shadow);
}

.card-left, .card-right {
  border: 1px solid var(--brand-navy);
  padding: 0;
  min-height: 185px;
}

.card-left {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-left h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-left .date-container div, .card-left h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.card-left .date-container div, .card-right h4 {
  color: var(--brand-gray)
}

.title-container {
  min-height: 134px;
}

.date-container {
  margin-bottom: 0;
}

.date-container {
  border-top: 1px solid var(--brand-navy);
  height: 50px;
  display: flex;
  align-items: center;
}

.card-right {
  border-left: none;
  width: 292px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px){
  .card-holder {
    flex-direction: column;
  }
  .card-right {
    width: 100%;
    min-height: 50px;
    border: 1px solid var(--brand-navy);
    border-top: none;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
  }
  .card-right h4 {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 800px){
  header {
    height: 180px;
  }

  main {
    margin-top: 200px;
  }

  .header-contents {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 160px;
  }

  nav {
    width: 258px;
    margin-right: 0;
    justify-content: space-between;
  }
}