header {
  height: 130px;
  background-color: var(--brand-soft);
  box-shadow: var(--brand-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header,
.header-contents,
.header-branding,
nav,
main,
.card-holder,
.card-left,
.card-right,
.date-container,
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contents {
  width: 70%;
  justify-content: space-between;
}

.header-branding {
  gap: 5px;
}

h2 {
  margin-top: 10px;
  width: 100%;
}

nav {
  justify-content: flex-end;
  gap: 25px;
}

.nav-icon {
  color: var(--brand-navy)
}

.nav-icon:hover {
  color: var(--brand-teal)
}

.nav-icon:active {
  color: var(--brand-teal-light);
}

main {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 150px;
  flex-direction: column;
  align-items: flex-start;
}

.card-holder {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
  justify-content: flex-end;
  box-shadow: var(--brand-shadow);
  border: 1px solid var(--brand-navy);
}

.card-left, .card-right {
  padding: 0;
  min-height: 185px;
}

.card-left {
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-right: 1px solid var(--brand-navy);
}

.card-left h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card-left .date-container div, .card-left h3 {
  padding-left: 20px;
  padding-right: 20px;
}

.card-left .date-container div, .card-right h4 {
  color: var(--brand-gray)
}

.title-container {
  min-height: 134px;
}

.date-container {
  margin-bottom: 0;
  width: 100%;
  border-top: 1px solid var(--brand-navy);
  height: 50px;
  justify-content: flex-start;
}

.card-right {
  border-left: none;
  width: 292px;
  flex-shrink: 0;
}

.home-card:hover {
  background-color: var(--brand-soft);
}

.home-card:active {
  background-color: var(--brand-teal-light);
}

.card-right {
  flex-direction: column;
  justify-content: space-evenly;

}

button {
  background-color: var(--brand-soft);
  font-size: 20px;
  font-weight: 700;
}

.dashboard-button {
height: 60px;
width: 80%;
}

.dashboard-button:hover {
  background-color: white;
}

.dashboard-button:active {
  background-color: white;
}

.form-button {
  height: 30px;
  width: 80px;
  background-color: var(--brand-navy);
  color: var(--brand-soft);
  font-size: 16px;
  border: none;
}

.form-button:hover {
  background-color: var(--brand-teal);
}

.form-button:active {
  border: 1.5px solid var(--brand-navy)
}

.modal h3,
form {
  margin-bottom: 20px;
}

.form-container {
  width: 100%;
  justify-content: space-between;
}

.form-wrapper {
  width: 48%;
}

.input {
  border-radius: 0;
}

@media screen and (max-width: 900px){
  header {
    position: static;
  }

  main {
    margin-top: 20px;
  }

  .card-holder {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-left {
    width: 100%;
    border-right: none;
  }

  .card-right {
    width: 100%;
    min-height: 50px;
    border-top: 1px solid var(--brand-navy);
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .dashboard-button {
    width: 45%;
    margin: 10px 0 10px 0;
  }

  .card-right h4 {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 20px;
  }

  main, .header-contents {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 700px){
  header {
    height: 180px;
  }

  .header-contents {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 160px;
  }

  main, 
  .header-contents {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  nav {
    margin-right: 0;
    justify-content: space-evenly;
  }

  .form-container {
    flex-direction: column;
  }
  .form-wrapper {
    width: 100%;
  }
}

